.main {
  border-radius: 0.5rem;
  color: #234e52;
  display: inline-block;
  font-family: 'Pacifico', cursive !important;
  margin-inline-start: -1vw;
  padding: 0 0.5rem;
  position: relative;
  text-align: center;
  transform: scale(0.75);
}
.logo_title {
  font-size: 27px;
  color: #38A169;
}
.logo_year {
  font-size: 14px;
  line-height: 1;
  position: absolute;
  top: 32px;
  left: 20px;
  color: #FF5265;
}
.logo_year span {
  margin-left: 20px;
}
.logo_year :first-child {
  margin-left: 0;
}
.logo_school {
  font-size: 8px;
  display: inline-block;
  margin-top: 12px;
  color: #5C73BC;
}

.image {
  display: inline;
  height: 46px;
  position: relative;
  left: 1.25rem;
  bottom: 0.2rem;
}

@media (min-width: 992px) {
  .main {
    margin-inline-start: 0;
  }
  .logo_year span {
    margin-left: 24px;
  }
}
